{erl_opts, [debug_info]}.

{deps, []}.

{vsn, "0.1.0"}.

{shell, [
    {config, "config/shell_sys.config"},
    {apps, [es3]}
]}.

{relx, [
    {release, {es3, semver}, [es3]},

    % Local releases
    {release, {es3_1, semver}, [es3]},
    {release, {es3_2, semver}, [es3]},
    {release, {es3_3, semver}, [es3]},

    % TODO: Remote releases, etc.

    {dev_mode, true},
    {include_erts, false},

    {vm_args, "config/vm.args"},
    {overlay_vars, "config/vars.config"},

    {extended_startup_script, true},

    {overlay, [
        {template, "config/sys.config", "releases/{{release_version}}/sys.config"},
        {template, "config/vm.args", "releases/{{release_version}}/vm.args"}
    ]}
]}.

{dialyzer, [
    {plt_extra_apps, [mnesia]},
    {warnings, [error_handling, race_conditions, unknown]},
    {get_warnings, true}
]}.
