{erl_opts, [debug_info]}.

% The below uses hex.pm for package management. Run rebar3 update if nothing works
{deps, [
    {cowboy, "2.4.0"},
    {jsx, "2.9.0"},
    {hackney, "1.13.0"}
]}.

{vsn, "0.1.0"}.

{shell, [
    {config, "config/shell_sys.config"},
    {apps, [es3]}
]}.

{relx, [
    {release, {es3, semver}, [es3, mnesia]},

    % Local releases
    {release, {es3_1, semver}, [es3]},
    {release, {es3_2, semver}, [es3]},
    {release, {es3_3, semver}, [es3]},

    % TODO: Remote releases, etc.

    {dev_mode, false},
    {include_erts, false},

    {extended_start_script, true},

    {overlay_vars, "config/vars.config"},
    {overlay, [
        {template, "config/sys.config", "releases/{{release_version}}/sys.config"},
        {template, "config/vm.args", "releases/{{release_version}}/vm.args"}
    ]}
]}.

{dialyzer, [
    {plt_extra_apps, [mnesia]},
    {warnings, [error_handling, race_conditions, unknown]},
    {get_warnings, true}
]}.
