{erl_opts, [debug_info]}.

{deps, []}.

{vsn, "0.1.0"}.

{shell, [
    {config, [{config, "config/sys.config"}]},
    {apps, [es3]}
]}.

{relx, [
    {release, {es3, "0.1.0"}, [es3]},

    {dev_mode, false},
    {include_erts, false},

    {vm_args, "config/vm.args"},
    {overlay_vars, "config/vars.config"},

    {extended_startup_script, true},

    {overlay, [
        {template, "config/sys.config", "release/{{release_version}}/sys.config"}
    ]}
]}.
